Repository Solo5/solo5, pull requests merged in 2020-04, with the labels that each got.

#446 Disable Genode build for Linux hosts
  build.sh
  configure.sh
  docs/building.md
Labels: target/genode

#448 Muen Sinfo & ABI update
  bindings/muen/muen-net.c
  bindings/muen/muen-sinfo.c
  bindings/muen/sinfo.h
  bindings/muen/start.c
Labels: enhancement, target/muen

#447 add openbsd mprotect ept support
  tenders/hvt/hvt_openbsd.c
  tenders/hvt/hvt_openbsd_x86_64.c
Labels: host/openbsd, target/hvt

#366 capsicum(4) sandbox solo5 on FreeBSD
  configure.sh
  tenders/GNUmakefile
  tenders/hvt/hvt_freebsd.c
  tenders/hvt/hvt_module_blk.c
  tenders/hvt/hvt_module_dumpcore.c
  tenders/hvt/hvt_module_net.c
Labels: enhancement, host/freebsd, target/hvt

#453 FreeBSD/OpenBSD do not copy endian headers into crt
  configure.sh
Labels: bug, host/freebsd, host/openbsd
